# PHP runtime stuff
*/tmp/

# Composer variable files
composer.lock
*/vendor/*
vendor/*

# Vim
.*.swp

# TLS/SSL certificates and keys
tls/*

# PROTIP: If you change the Composer package directory, please
# change the '*/vendor/*' entry above 

